<div class="card border-dark shadow-lg">

  <!-- card-header -->
  <div class="card-header bg-warning-custom border-bottom border-secondary text-black p-0 d-flex justify-content-evenly align-items-center">Header
  </div>
    <!-- card-body -->

    <div class="card-body text-light p-0 ">
          <!-- card-backgroud -->

      <div
        class="background-card"
        [ngStyle]="{
'background-image': 'url(' + backgroundImageUrl + ')',    }"
        [ngClass]="{
          'large-height': stateService.isScrollMode(),
          'small-height': !stateService.isScrollMode()
        }"
      ><div class="w-100 h-100 d-flex flex-column flex grow justify-content-center">
        <p class="card-text scroll-mode-font">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

      </div>
      </div>
          <!-- card-footer -->

    <div class="card-header bg-warning-custom border-bottom border-secondary text-black p-0 d-flex justify-content-evenly align-items-center">Footer</div>
  </div>

  <!-- url("/assets/images/card/aragorn.jpg"); -->
</div>
