<div
  class="d-flex flex-column flex-sm-row align-items-start gap-1 p-1"
>
  <p
    class="filter-font m-0 text-white fw-semibold bg-black p-1 px-sm-3 border border-secondary rounded-1"
  >
    Filter
  </p>

  <div
  class="d-flex gap-1"
  aria-label="filter select group"
  >
    <app-select 
    [selectOptions]="characterNames()"
    [selectHeading]="selectesHeading[0]"
    >
    </app-select>
    <app-select 
    [selectOptions]="movieNames()"
    [selectHeading]="selectesHeading[1]"
    >
    </app-select>
  </div>
</div>


