<div
  class="filter d-flex justify-content-sm-end gap-1 gap-sm-2 mt-2 mt-sm-3"
>
  <p
    class="scroll-mode-font m-0 text-white fw-semibold d-flex align-items-center bg-black py-1 px-1 px-sm-3 border border-secondary rounded-1"
  >
    Filter by
  </p>

  <div class="btn-group" role="group" aria-label="filter select group">
    <app-dropdown
      [title]="'Likes'"
      [showArrow]="true"
      class="btn btn-sm btn-danger-custom border border-secondary scroll-mode-font"
    ></app-dropdown>

    <app-dropdown
      [title]="'Movies'"
      [showArrow]="true"
      class="btn btn-sm btn-danger-custom border border-secondary scroll-mode-font"
    ></app-dropdown>

    <app-dropdown
      [title]="'Characters'"
      [showArrow]="true"
      class="btn btn-sm btn-danger-custom border border-secondary scroll-mode-font"
    ></app-dropdown>
  </div>
</div>


