<div class="page-wrapper justify-content-start">
  <app-form-auth
    [class]="isMobileMode() ? 'w-100 px-3' : 'w-50'"
    style="max-width: 500px"
    [heading]="formData.heading"
    [submitLabel]="formData.submitLabel"
    [inputsData]="formData.inputsConfig"
  >
    <!-- as-ngContent -->
    <p
      text-slot
      class="text-light fw-medium me-auto m-0 mt-1 px-1"
      [style]="isMobileMode() ? 'font-size:12px;' : 'font-size:14px'"
    >
      Enter your email and we will send you instructions to reset your password.
    </p>
        <a routerLink="/home"
        class="px-1 mb-2"
        [style]="isMobileMode() ? 'font-size:12px;' : 'font-size:14px'"
        >Back to home</a>
  </app-form-auth>
</div>
