<nav class="navbar bg-dark p-1 rounded-3 mt-3 border border-dark-subtle border-opacity-50 shadow-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="w-100 navbar-nav flex-row justify-content-between">
      <li class="nav-item">
        <a
          class="nav-link active p-0 scroll-mode-font"
          aria-current="page"
          href="#"
          >Logo</a
        >
      </li>
      <div class="d-flex gap-3">
        <li class="nav-item">
          <a
            class="nav-link text-light" style="  font-size: clamp(11px, 1.5vw, 13px);
            "
            routerLink="link"
            routerLinkActive="active-link"
            >link</a
          >
        </li>
      <li class="nav-item">
          <a
            class="nav-link text-light" style="  font-size: clamp(11px, 1.5vw, 13px);
            "
            routerLink="link"
            routerLinkActive="active-link"
            >link</a
          >
        </li>
      <li class="nav-item">
          <a
            class="nav-link text-light" style="  font-size: clamp(11px, 1.5vw, 13px);
            "
            routerLink="link"
            routerLinkActive="active-link"
            >link</a
          >
        </li>
        <!-- link -->
          <li class="nav-item">
            <a
              class="nav-link text-light" style="  font-size: clamp(11px, 1.5vw, 13px);
              "
              routerLink="link"
              routerLinkActive="active-link"
              >Contact</a
            >
          </li>
      </div>
    </ul>
  </div>
</nav>
