<nav class="navbar bg-dark border-bottom border-body fixed-bottom p-0" data-bs-theme="dark">  
    <div class="container-fluid">
        <a class="navbar-brand p-0 m-0" href="#">Navbar</a>

          <ul class="navbar-nav flex-row gap-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
      </div>
  </nav>
