<!-- section icons -->
<section class="d-flex align-items-center gap-3 p-1 ms-2">

 

  <!-- section share/fav -->

      <button  class="bg-dark border-0 p-0 d-flex "
      matTooltip
      [matTooltipPosition]="tooltipPositionBelow"
      matTooltipClass="tooltip-custom"
      
>
    <mat-icon
    class="card-icon"
    >share

    </mat-icon>
    </button>

 

    <!-- add to favourites -->
     <button  class="bg-dark border-0 p-0" (click)="onFavClick()"
      [disabled]="!isLoggedIn()"
    [matTooltip]="favouriteToolTipMessage()"      
      [matTooltipPosition]="tooltipPositionBelow"
      matTooltipClass="tooltip-custom"
      
>
    <mat-icon
    class="card-icon"
    >{{ favouriteIcon() }}

    </mat-icon>
    </button>

    <!-- section likes -->
     <div class="d-flex align-items-center">
    <button  class="bg-dark border-0 p-0"
      matTooltip
      [matTooltipPosition]="tooltipPositionBelow"
      matTooltipClass="tooltip-custom"
      
>
    <mat-icon
    class="card-icon m-0 p-0"
    >thumb_up_off_alt

    </mat-icon>

    </button>
    <span class="card-icon likes-amount border-end border-secondary pe-2">120</span>

</div>

        <button  class="bg-dark border-0 p-0"
      matTooltip=""
      [matTooltipPosition]="tooltipPositionBelow"
      matTooltipClass="tooltip-custom"
      
>
    <mat-icon
    class="card-icon"
    >thumb_down_off_alt

    </mat-icon>
    </button>


</section>
