<div class="h-100 d-flex flex-column justify-content-between"
[ngClass]="stateService.isScrollMode() ? 'bg-dark' : 'bg-transparent '"

>
  
<div class="d-flex flex-column flex-sm-row flex-fill flex-wrap align-items-center justify-content-evenly position-relative"
>
  @for (quote of stateService.quotes(); track quote._id) {
  <app-card 
  [dialog]="quote.dialog" 
  [movie]="quote.movie" 
  [character]="quote.character" 
  [likes]="quote.likes" 
  [cardBackgroundImageUrl]="cardsBackgroundImageUrl[quote.movie]"
  ></app-card>
  }
</div>

@if (!stateService.isScrollMode()) {
<div 
class="d-flex justify-content-center"
>
  <mat-paginator
  style="height: 50px;"
  [length]="stateService.pagination().length" 
  [pageIndex]="stateService.pagination().pageIndex"
  [pageSize]="stateService.pagination().pageSize"  
  [pageSizeOptions]="stateService.pageSizeOptions()"
  [showFirstLastButtons]="true"
  (page)="handlePageEvent($event)"
  
  >
  </mat-paginator>
  </div>
}
</div>