<div class="h-100 d-flex flex-column justify-content-between ">
  
<div class="d-flex flex-fill align-items-center justify-content-around px-3 gap-3"
[ngClass]="stateService.isScrollMode() ? 'bg-dark flex-column' : 'bg-info'"
>
  @for (quote of quotes(); track quote._id) {
  <app-card
  [ngClass]="{'w-100': stateService.isScrollMode()}"
  [dialog]="quote.dialog" 
  [movie]="quote.movie" 
  [character]="quote.character" 
  [likes]="quote.likes" 
  ></app-card>
  }
</div>

@if (!stateService.isScrollMode()) {
<div 
>
  <mat-paginator
  [length]="pagination().length" 
  [pageIndex]="pagination().pageIndex"
  [pageSize]="pagination().pageSize"  
  [pageSizeOptions]="pageSizeOptions()"
  [showFirstLastButtons]="true"
  (page)="handlePageEvent($event)"
  
  >
  </mat-paginator>
  </div>
}
</div>