<div class="h-100 d-flex flex-column justify-content-between "
[ngClass]="stateService.isScrollMode() ? 'bg-dark' : 'bg-transparent'"

>
  
<div class="d-flex flex-fill align-items-center justify-content-evenly px-4 "
[ngClass]="stateService.isScrollMode() ? 'bg-dark flex-column ' : 'bg-transparent gap-4'"
>
  @for (quote of quotes(); track quote._id) {
  <app-card
  [ngClass]="stateService.isScrollMode() ? 'w-100 my-4 pb-5' : 'my-0 pb-0'"
  [dialog]="quote.dialog" 
  [movie]="quote.movie" 
  [character]="quote.character" 
  [likes]="quote.likes" 
  [cardBackgroundImageUrl]="cardsBackgroundImageUrl[quote.movie]"
  ></app-card>
  }
</div>

@if (!stateService.isScrollMode()) {
<div 
>
  <mat-paginator
  [length]="pagination().length" 
  [pageIndex]="pagination().pageIndex"
  [pageSize]="pagination().pageSize"  
  [pageSizeOptions]="stateService.pageSizeOptions()"
  [showFirstLastButtons]="true"
  (page)="handlePageEvent($event)"
  
  >
  </mat-paginator>
  </div>
}
</div>