<form class="bg-body-secondary" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- email -->
    <div class="container-fluid">
      <input 
      type="email" 
      name="email"
      formControlName="email"
      class="form-control" 
      placeholder="email" 
      aria-label="email">
    </div>

  <!-- email -->
  <div class="container-fluid">
    <input 
      type="text"
      name="password"
      formControlName="password" 
      class="form-control" 
      placeholder="password" 
      aria-label="password">
    </div>
    <ng-content></ng-content>
  </form>

