.card-text {
    overflow: hidden;
    font-family: "Cardo", serif;
    font-weight: 500;
    color: rgb(217, 220, 223) !important;
    line-height: 1.7;
    font-size: clamp(14px, 2vw, 16px) !important;
  }
  