div.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
div.wrapper::before {
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.7)),
    url("/assets/images/background/background-gandalf.jpg")no-repeat center left / cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: grayscale(75%);
  z-index: -1;
}


footer.sticky-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0;
}