.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-toggle::after {
  display: none !important;
}

@media (max-width: 576px) {
  .offcanvas .navbar-nav .nav-link {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  .navbar-nav {
    margin-left: 75px;
  }
}

@media (min-width: 1024px) {
  .navbar-nav {
    margin-left: 100px;
  }
}
