<nav
  class="navbar navbar-expand-sm navbar-dark bg-dark p-1 px-2"
>
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="navbar-brand m-0 scroll-mode-font" href="#">logo</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">logo</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <!-- nav links -->
        <!-- Home -->
        <ul class="navbar-nav justify-content-center flex-grow-1 gap-sm-3 gap-lg-5">
          <li class="nav-item">
            <a
              class="nav-link text-white scroll-mode-font"
              routerLink="home"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>

                  <!-- About -->
          <li class="nav-item">
            <a
              class="nav-link text-white scroll-mode-font"
              routerLink="about"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >About</a
            >
          </li>



          <!-- Movies -->
          <li class="nav-item dropdown">
            <a class="nav-link scroll-mode-font">
              <app-dropdown
                [title]="'Movies'"
                [showArrow]="false"
                [enableHover]="true"
              ></app-dropdown>
            </a>
          </li>

          <!-- Characters -->

          <li class="nav-item dropdown">
            <a class="nav-link scroll-mode-font">
              <app-dropdown
                [title]="'Characters'"
                [showArrow]="false"
                [enableHover]="true"
              ></app-dropdown>
            </a>
          </li>

          <!-- contact -->
          <li class="nav-item">
            <a
              class="nav-link text-white scroll-mode-font"
              routerLink="contact"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Contact</a
            >
          </li>
        </ul>

        <!-- auth scection -->
        <ul class="navbar-nav align-items-center gap-2">
          <li class="nav-item">
            @if (!stateService.isScrollMode()) {
            <button class="btn btn-sm bg-info-subtle border px-3 ">
              <i class="bi bi-heart me-2"></i>
              skip to my favourite quotes
            </button>
            }
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link text-white scroll-mode-font" routerLink="sign-up"
              >Sign Up</a
            >
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link text-white scroll-mode-font" routerLink="login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
