<!-- <div class="page-wrapper">
  @if(quote()) {
  <app-card [likes]="quote()!.likes" [backgroundUrl]="quote()?.backgroundUrl">

    <section
      class="h-100 d-flex flex-column justify-content-between gap-1 p-2"
      card-content
    >
      <div
        class="card-detail-text-container d-flex column flex-fill align-items-center justify-content-sm-center px-3 py-2"
      >
        <p
          class="card-text m-0 px-2 mt-1 d-flex flex-column justify-content-center align-items-center"
        >
          ... {{ quote()?.dialog }}
        </p>
      </div>
    </section>
    
  </app-card>
  }
</div>
 -->
<!-- info-quote section -->
<!-- <div
        class="d-flex align-items-center justify-content-end card-body-link-container p-1 pe-2 rounded-1"
      >
        <a class="card-text-link cursor-pointer" routerLink="character">
          {{ character() }}
        </a>
        <span class="card-text-link px-2">in</span>
        <a class="card-text-link" routerLink="movie">
          {{ movie() }}
        </a>
      </div>


    </div>
  </div>
 -->

<!-- comments -->
<!-- <a
      href=""
      class="nav-link scroll-mode-font"
      matTooltip="show comments"
      [matTooltipPosition]="stateService.positionOptions[3]"
      matTooltipClass="tooltip-custom"
    >
      Comments
    </a> -->
