.text-container {
  width: 350px;
  height: 164px; 
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}
.text-container-expand {
  width: 380px;
  height: 300px; 
}


.text-link {
  color: red !important;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: 10px; 
  right: 10px;
}



.text-overflow-hidden {
  overflow: hidden !important;
}
.text-oveflow-visible {
  overflow: visible !important;
}

  

