<div class="w-100 position-fixed bottom-0 start-0 bg-danger">
  <div id="collapseGroup">
    <!-- collapse search content -->
    <div class="collapse" id="search" data-bs-parent="#collapseGroup">
      <div class="card card-body">
        Here will be search bar
        
    </div>
    </div>

    <!-- collapse filter content -->
    <div class="collapse" id="filter" data-bs-parent="#collapseGroup">
      <div class="card card-body">Here will be filter by</div>
    </div>

    <app-bottom-navbar />
  </div>
</div>
