@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

.page-wrapper {
  width: 85%;
  height: 75%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  // custom-colors
  --custom-header: #a0982e !important;
  --custom-warning: #b3ab93 !important;
  --custom-secondary: #a9ac99 !important;

  // paginator

  .mat-mdc-paginator {
    background-color: rgba($color: #212529, $alpha: 0.9);
  }

  --mat-paginator-container-text-color: #d9dcdf;
  --mat-paginator-container-text-font: system-ui, -apple-system, sans-serif;
  --mat-paginator-container-background-color: var(--custom-warning);
  --mat-paginator-container-text-size: clamp(11px, 1.5vw, 13px);
  --mat-paginator-enabled-icon-color: #d9dcdf;
  --mat-paginator-disabled-icon-color: #6c757d;

  .mat-mdc-paginator-page-size-select {
    margin: 0 4px;
    width: 65px;

    --mat-select-enabled-trigger-text-color: #d9dcdf;
    --mat-select-enabled-arrow-color: #d9dcdf;
  }

  --mat-option-selected-state-label-text-color: #d9dcdf;
  --mat-option-label-text-color: #6c757d;
  .mat-mdc-select-panel {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #212529;
  }
  --mat-select-focused-arrow-color: #6c757d;
  --mat-select-enabled-trigger-text-color: #6c757d;

  .mat-mdc-text-field-wrapper {
    border: 1px solid #3d4042;
  }

  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #6c757d;
  }

  // tooltip
  --tooltip-color: #222 !important;
  .tooltip-custom .mdc-tooltip__surface {
    color: rgb(36, 40, 44) !important;
    background-color: var(--custom-secondary) !important;
    border: 1px solid black;
  }

  .pointer {
    cursor: pointer;
  }
}

// custom-buttons
.btn-danger-custom {
  background-color: var(--custom-header) !important;
}
.btn-danger-custom:hover {
  background-color: var(--bs-dark) !important;
}
.bg-warning-custom {
  background-color: var(--custom-warning) !important;
}
.bg-secondary-custom {
  background-color: var(--custom-secondary) !important;
}


// .dropdown-toggle::after {
//   display: none !important;
// }

// .dropdown-menu {
//   background-color: #FF0000 !important;
//   color: #24c53f !important
// }

//   .dropdown-item{
//     background-color: #FF0000 !important;
//     color: aqua !important;
// }

//   .dropdown-item:hover {
//       background-color: #FF0000 !important;
//       color: aqua !important;
//   }

.success {
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-supporting-text-size: 15px;
  --mdc-snackbar-supporting-text-font: system-ui, -apple-system, sans-serif;
  /* margin: 150px !important; */
  /* close */
  --mat-snack-bar-button-color: rgb(247, 172, 218);
  --mdc-typography-button-font-size: 13px;
}

.form-control:focus {
  box-shadow: none !important;
}

.nav-link.active-link {
  text-decoration: none;
  color: rgb(216, 208, 208);
  font-weight: bold;
  position: relative;
}

// .nav-link.active-link::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 5px; /* Adjust the offset */
//   height: 1px; /* Thickness of the underline */
//   background-color: white; /* Underline color */
// }
.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: rgb(233, 224, 224);
  cursor: pointer;
  padding-block: 2px;
  transition: all ease-in 1s;
}

.icon-box .bi {
  color: rgb(233, 224, 224);
  font-size: 22px;
}

.icon-box .icon-box-title {
  color: rgb(233, 224, 224);
  font-size: 11px;
  margin: 0;
  letter-spacing: 0.7px;
  font-weight: 600;
  text-decoration: none;
}



// fonts- clamp
.scroll-mode-font {
  font-size: clamp(13px, 1.5vw, 17px) !important;
}
