:root {
  // --navbar-height: 56px;
}

.dropdown-toggle::after {
  display: none !important;
}
// .dropdown-menu {
//   background-color: #FF0000 !important;
//   color: #24c53f !important
// }

//   .dropdown-item{
//     background-color: #FF0000 !important;
//     color: aqua !important;
// }

//   .dropdown-item:hover {
//       background-color: #FF0000 !important;
//       color: aqua !important;
//   }

.success {
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-supporting-text-size: 15px;
  --mdc-snackbar-supporting-text-font: system-ui, -apple-system, sans-serif;
  /* margin: 150px !important; */
  /* close */
  --mat-snack-bar-button-color: rgb(247, 172, 218);
  --mdc-typography-button-font-size: 13px;
}

.form-control:focus {
  box-shadow: none !important;
}

.nav-link.active-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}

// .nav-link.active-link::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 5px; /* Adjust the offset */
//   height: 1px; /* Thickness of the underline */
//   background-color: white; /* Underline color */
// }

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  cursor: pointer;
  padding-block: 2px;
  .bi {
    color: #fff;
    font-size: 24px;
  }
  .icon-box-title {
    color: #fff;
    font-size: 10px;
    margin: 0;
    letter-spacing: 0.7px;
    padding: 2px;
    font-weight: 600;

  }
}
