<cdk-accordion class="accordion">
    @for (item of items; track item; let index = $index) {
    <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
      <button
        class="accordion-item-header px-2 bg-dark  "
        (click)="accordionItem.toggle()"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        {{ item }}
        <span class="accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </button>
      @if (accordionItem.expanded) {
      <div
        class="accordion-item-body bg-dark-subtle"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
      A comments section will be up here soon!
      </div>
      }
    </cdk-accordion-item>
    }
  </cdk-accordion>
  
